@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spicy+Rice&display=swap');

*{
  font-family: "Noto Sans", sans-serif;
}


.down{
  width: 100%;
  height: 5px;
  background: #00754a;
  position: absolute;
  bottom: 0px;
}

.leterS{
  letter-spacing: 3px;
}


.tbc{
  color: #0000004f;
}